button {
  width: 100%;
  height: 40px;
  max-width: 160px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2ch;
  text-decoration: none;
}

.Button-main {
  background-color: #40c8f4;
  color: white;

  &-disabled {
    cursor: not-allowed;
    background-color: #f6f6f6;
    color: #dddcdc;
  }

  &:hover {
    opacity: 70%;
  }
}

.Button-shy {
  background-color: white;
  color: #676767;

  &:hover {
    opacity: 70%;
  }
}